<!-- layout -->

{% extends "layout/main.html" %}

{% block head %}
  {{ super() }}
  <!-- inject into head -->
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="columns">
			<h1>Blog</h1>
			<button>Testing</button>
			<form action="#">
				<input type="text">
				<button class="warning test">Submit</button>
			</form>
			<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
			<div class="callout" data-closable>
				<p>Success post added!</p>
				<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<div class="switch large">
	  <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
	  <label class="switch-paddle" for="yes-no">
	    <span class="show-for-sr">Do you like me?</span>
	    <span class="switch-active" aria-hidden="true">Yes</span>
	    <span class="switch-inactive" aria-hidden="true">No</span>
	  </label>
	</div>

{% endblock %}

{% block footer %}
{% endblock %}

